# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
log.txt

# Environment variables
.env
.env.*.local

# OS / IDE files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Coverage reports
coverage/
.nyc_output/

# Test-related
jest.config.js
test-results/
*.spec.ts.snap

# Optional cache folders
.cache/
.next/
out/

# Docker-related
docker-compose.override.yml
docker-compose.*.yml
Dockerfile.*
.dockerignore

# Optional runtime files
*.log
*.pid
*.seed
*.pid.lock

# Misc
.idea/
*.swp
dist/users/users.service.js.map
dist/users/users.service.js
dist/users/users.service.d.ts
dist/users/users.module.js.map
dist/users/users.module.js
dist/users/users.module.d.ts
dist/users/users.controller.js.map
dist/users/users.controller.js
dist/users/users.controller.d.ts
dist/users/user.entity.js.map
dist/users/user.entity.js
dist/users/user.entity.d.ts
dist/tsconfig.build.tsbuildinfo
dist/main.js.map
dist/main.js
dist/common/guards/jwt-auth.guard.js.map
dist/common/guards/jwt-auth.guard.js
dist/common/guards/jwt-auth.guard.d.ts
dist/common/dto/jwt-payload.dto.js.map
dist/common/dto/jwt-payload.dto.js
dist/common/dto/jwt-payload.dto.d.ts
dist/common/dto/google-login.dto.js.map
dist/common/dto/google-login.dto.js
dist/auth/google.strategy.js.map
dist/auth/google.strategy.js
dist/auth/google.strategy.d.ts
dist/auth/auth.service.js.map
dist/auth/auth.service.js
dist/auth/auth.service.d.ts
dist/auth/auth.module.js.map
dist/auth/auth.module.js
dist/auth/auth.controller.js.map
dist/auth/auth.controller.js
dist/auth/auth.controller.d.ts
dist/app.module.js.map
dist/app.module.js
